<meta charset="utf-8" />
<meta http-equiv="x-ua-compatible" content="ie=edge">

<title>{{meta_title}}</title>
<meta name="description" content="{{meta_description}}" />
<meta name="viewport" content="width=device-width,initial-scale=1.0" />

<link rel="shortcut icon" href="{{asset "img/favicon.ico"}}" />
<link rel="apple-touch-icon" href="{{asset "img/favicon.ico"}}" />

<link rel="stylesheet" type="text/css" href="{{asset "css/styles.css"}}" />
<link rel="stylesheet" type="text/css" href="https://static2.sharepointonline.com/files/fabric/office-ui-fabric-core/6.0.0/css/fabric.min.css">
<link rel="stylesheet" type="text/css" href="https://static2.sharepointonline.com/files/fabric/office-ui-fabric-core/2.6.2/css/fabric.components.min.css">
<link rel="stylesheet" type="text/css" href="{{asset "css/fontello-cc89432f/css/fontello.css"}}">
<script src="https://static2.sharepointonline.com/files/fabric/office-ui-fabric-js/1.2.0/js/fabric.min.js"></script>