<div class="postShare">
    <div class="profileLink">
        <a class="c-post-view-share__item c-post-view-share__item--twitter" href="https://twitter.com/intent/tweet?text={{encode title}}&amp;url={{url absolute="
            true "}}" onclick="window.open(this.href, 'twitter-share', 'width=550,height=235');return false;">
            <i class="icon-twitter-squared ms-fontSize-xxl"></i> Share on Twitter
            </a>
    </div>
    <div class="profileLink">
        <a class="c-post-view-share__item c-post-view-share__item--facebook" href="https://www.facebook.com/sharer/sharer.php?u={{url absolute="
            true "}}" onclick="window.open(this.href, 'facebook-share','width=580,height=296');return false;">
            <i class="icon-facebook-squared ms-fontSize-xxl"></i>Share on Facebook
            </a>
    </div>
    <div class="profileLink">
        <a class="c-post-view-share__item c-post-view-share__item--google" href="https://www.linkedin.com/shareArticle?mini=true&url={{url absolute="
            true "}}&summary={{title}}" onclick="window.open(this.href, 'linkedin-share', 'width=490,height=530');return false;">
            <i class="icon-linkedin-squared ms-fontSize-xxl"></i>Share on Linked In
            </a>
    </div>
</div>