<div class="BaseProfileCoreInfo-module_panel" role="region" aria-label="Kevin McDonnell core profile information">
                    <div class="BaseProfileCoreInfo-module_imageWrapper BaseProfileCoreInfo-module_userImageWrapper">
                      <div class="BaseProfileCoreInfo-module_profileImageWrapper" role="">
                        <div class="BaseProfileCoreInfo-module_image" style='background-image: url("{{@blog.logo}}");'>
                        </div>
                      </div>
                    </div>
                    <div>
                      <h2 class="ms-font-xxl">{{@blog.title}}</h2>
                      <div class="BaseProfileCoreInfo-module_subTitle ms-font-m ms-font-weight-light"></div>
                      <div class="BaseProfileCoreInfo-module_subTitle ms-font-m ms-font-weight-light"></div>
                      <div class="BaseProfileCoreInfo-module_oneDriveContainer">
                        <i class="BaseProfileCoreInfo-module_oneDriveIcon ms-Icon ms-Icon--onedrive"></i>
                        <a tabindex="0" title="{{@blog.description}}" role="link" >{{@blog.description}}</a>
                      </div>

                      <div class="ExpandedProfilePane-module_dataColumn_delve">
                        <div class="ExpandedProfilePane-module_columnSeparator_delve">
                              <div class="ExpandedProfileProperty-module_dataWithIcon_delve fabric-module_ms-font-l_delve">
                                  <a role="link" href="https://www.twitter.com/{{@blog.twitter}}" tabindex="0" title="Twitter">
                                    <i class="icon-twitter-squared ms-fontSize-xxl"></i> Twitter
                                  </a>
                              </div>
                        </div>
                        <div class="ExpandedProfilePane-module_columnSeparator_delve">
                              <div class="ExpandedProfileProperty-module_dataWithIcon_delve fabric-module_ms-font-l_delve">
                                  <a role="link" class="ExpandedProfileProperty-module_link_delve" tabindex="0" title="Twitter">
                                    <i class="icon-linkedin-squared ms-fontSize-xxl"></i> LinkedIn
                                  </a>
                              </div>
                        </div>
                        <div class="ExpandedProfilePane-module_columnSeparator_delve">
                              <div class="ExpandedProfileProperty-module_dataWithIcon_delve fabric-module_ms-font-l_delve">
                                  <a role="link" class="ExpandedProfileProperty-module_link_delve" tabindex="0" title="Twitter">
                                    <i class="ms-Icon ms-Icon--Library ms-fontSize-xxl" aria-hidden="true"></i>  Flipboard
                                  </a>
                              </div>
                        </div>
                      </div>
                  </div>
                  </div>
          