<div class="BaseProfileCoreInfo-module_panel" role="region" aria-label="Kevin McDonnell core profile information">
                    <div class="BaseProfileCoreInfo-module_imageWrapper BaseProfileCoreInfo-module_userImageWrapper">
                      <div class="BaseProfileCoreInfo-module_profileImageWrapper" role="">
                        <div class="BaseProfileCoreInfo-module_image" style='background-image: url("{{@blog.logo}}");'>
                        </div>
                      </div>
                    </div>
                    <div>
                      <h2 class="ms-font-xxl">{{@blog.title}}</h2>
                      <div class="BaseProfileCoreInfo-module_subTitle ms-font-m ms-font-weight-light"></div>
                      <div class="BaseProfileCoreInfo-module_subTitle ms-font-m ms-font-weight-light"></div>
                      <div class="profileLink ms-font-l">
                        <i class="ms-Icon ms-Icon--onedrive"></i>
                        <a tabindex="0" title="{{@blog.description}}" href="/" >{{@blog.description}}</a>
                      </div>

                      <div>
                        <div class="profileLink">
                          <a href="https://www.twitter.com/{{@blog.twitter}}" tabindex="0" title="Twitter">
                            <i class="icon-twitter-squared ms-fontSize-xxl"></i> Twitter
                          </a>
                        </div>
                        <div class="profileLink">
                          <a tabindex="1" title="LinkedIn">
                            <i class="icon-linkedin-squared ms-fontSize-xxl"></i> LinkedIn
                          </a>
                        </div>
                        <div class="profileLink">
                          <a tabindex="2" title="Flipboard">
                            <i class="icon-book ms-fontSize-xxl"></i>  Flipboard
                          </a>
                        </div>
                         <div class="profileLink">
                          <a tabindex="3" title="Github">
                            <i class="icon-git-squared ms-fontSize-xxl" aria-hidden="true"></i>  Github
                          </a>
                        </div>
                        <div class="profileLink">
                          <a href="/rss" tabindex="4" title="RSS">
                            <i class="icon-rss-squared ms-fontSize-xxl" aria-hidden="true"></i>  RSS
                          </a>
                        </div>
                      </div>
                  </div>
                  </div>
          