{{!< default}}
{{#post}}


      <div class="ms-Grid">
          <div class="ms-Grid-row blogPostMainImage" style="background-repeat: no-repeat;background-position: center top;width:100%; background-size:cover;
          background-image:url('{{#if img_url}}{{img_url feature_image}}{{else}}https://res.delve.office.com/delve/versionless/urbanimg3_large.jpg{{/if}}');">
            <div class="ms-Grid">
                <a href="/">
                <div class="ms-Grid-row postBlogLogoRow">
                    <div class="ms-Grid-col ms-sm12 ms-md12 ms-lg12 postTitle ms-fontColor-neutralLighterAlt">
                        <div class="postBlogLogo ">
                            <!-- BaseProfileCoreInfo-module_userImageWrapper BaseProfileCoreInfo-module_userImageWrapper -->
                            <div class="BaseProfileCoreInfo-module_profileImageWrapper" role="">
                                
                                    <div class="BaseProfileCoreInfo-module_image" style='background-image: url("{{@blog.logo}}");'>
                                    </div>
                                
                            </div>
                        </div>
                    </div>
                </div>
                </a>
                <div class="ms-Grid-row postBlogTitleRow">
                    <div class="postNavigation ms-Grid-col ms-sm2 ms-md1 ms-lg1 postTitle ms-fontColor-neutralLighterAlt">
                        {{#next_post}}
                            <a href="{{url}}" title="{{title}}">
                                <i class="ms-Icon ms-Icon--ChevronLeftMed ms-fontColor-neutralLighterAlt ms-fontSize-su" aria-hidden="true"></i>
                            </a>
                        {{else}}
                        {{/next_post}}
                    </div>
                    <div class="ms-Grid-col ms-sm8 ms-md10 ms-lg10 postTitle ms-fontColor-neutralLighterAlt">
                        <h1>{{title}}</h1>
                        <h3>
                        {{date format="MMMM DD, YYYY"}}
                        </h3>
                    </div>
                    <div class="postNavigation ms-Grid-col ms-sm2 ms-md1 ms-lg1 postTitle ms-fontColor-neutralLighterAlt">
                        {{#prev_post}}
                            <a href="{{url}}" title="{{title}}">
                                <i class="ms-Icon ms-Icon--ChevronRightMed ms-fontColor-neutralLighterAlt ms-fontSize-su" aria-hidden="true"></i>
                            </a>
                        {{else}}
                        {{/prev_post}}
                    </div>
                </div>
            </div>
            
        </div>
        <div class="ms-Grid-row">
            <div class="ms-Grid-col ms-sm2 ms-md2 ms-lg2"></div>
          <div class="ms-Grid-col ms-sm12 ms-md12 ms-lg8">
<div class="blogPostPane-container">
    <div class="c-post-view {{post_class}}">
        <div class="blogContent">
            {{content}}
        </div>

        <div class="c-post-view__footer">
            {{> "post-meta"}}
            <br/>
            {{> "post-share"}}
            <!--{{> "comments"}}-->
        </div>
    </div>
 </div>



{{/post}}